<h3>Can you be insured?</h3>
<form action="/story/1/sprint/1" method="post" accept-charset="utf-8">
  <input type="text" name="insured_age" id="age"">
  <input type="submit" id="submit_age">
</form>


